<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="m-5">
        <h1>Create new Event for Event</h1>
        <form action="/event-update-2?id=<%=inheritEventId%>" method="post">
            <label class="form-label mt-3">Event Title</label>
            <input type="text" name="inheritEventTitle" class="form-control" value="<%= inheritEventTitle %>" required>

            <label class="form-label mt-3">Address</label>
            <input type="text" name="inheritEventAddress" class="form-control" value="<%= inheritEventAddress %>" required>

            <label class="form-label mt-3">Time</label>
            <input type="text" name="inheritEventTime" class="form-control" value="<%= inheritEventTime %>" required>

            <label class="form-label mt-3">Month</label>
            <input type="month" name="inheritEventMonth" class="form-control" required>

            <label class="form-label mt-3">Date</label>
            <input type="text" name="inheritEventDate" class="form-control" value="<%= inheritEventDate %>" required>

            <label class="form-label mt-3">Event Poster URL</label>
            <input type="text" name="inheritEventPoster" class="form-control" value="<%= inheritEventPoster %>" required>

            <label class="form-label mt-3">Event Registration URL</label>
            <input type="text" name="inheritEventRegis" class="form-control" value="<%= inheritEventRegis %>" required>

            <label class="form-label mt-3">Content</label>
            <textarea name="inheritEventDescription" cols="30" rows="10" class="form-control" required><%= inheritEventDescription %></textarea>
            
            <button type="submit" class="btn btn-primary mt-3">Update following Event</button>
        </form>
    </div>
</body>

</html>