<%- include('header') %>

    <!-- Event Header Section ----------------------------------------------------------------------------->

    <section id="EventHeader_Section">
        <div class="firstSection">
            <h1 class="display-1 centerItems">EVENT</h1>
        </div>
    </section>

    <hr>

    <!-- Events ------------------------------------------------------------------------------------->

    <section id="Event_Section">
        <!-- whole ticket starts here -->
        
        <% eventEJS.forEach((element, i) => { %>

            <div class="row ticket">
                <div class="col-lg-2">
                    <p class="monthSmall monthLarge"><%= element.month %></p>
                    <p class="dateSmall dateLarge"><%= element.date %></p>
                </div>
                <div class="col-lg-5 imageTicket">
                    <img src="<%= element.image %>"
                        class="img-fluid" alt="">
                </div>
                <div class="col-lg-5">
                    <div class="ticketRight">
                        <p class="eventTitle"><%= element.title %></p>
                        <p class="eventLocation"><%= element.address %></p>
                        <p class="eventTime"><%= element.time %></p>
                        <p class="evenSum"><%= element.description %>...</p>
                        <div class="ticketBreak">
                            <hr>
                            <a data-bs-toggle="modal" data-bs-target="#event-<%= i %>">
                                <p class="eventView">Event Details <i class="fa-solid fa-arrow-right"></i></p>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="event-<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="event-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel"><%= element.title %></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="<%= element.image %>"
                                                alt="" class="img-fluid">
                                            <br><br>
                                            <p class="eventLocation"><%= element.address %></p>
                                            <br>
                                            <p class="eventTime"><%= element.time %></p>
                                            <br>
                                            <p class="eventFullDesc"><%= element.description %></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary"><a href="http://<%= element.registration %>" target="_blank">Register</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="ticketLine">
            </div>

        <% }); %>

    </section>

<%- include('footer') %>