<%- include('header') %>
<div class="news">
    <div class="text-center">
        <h1><%= blogTitle %></h1>
        <img src="<%= blogImage %>" class="img-fluid" alt="">
    </div>
    <div class="parent">
        <p class="easyRead centerDiv"><%= blogContent %></p>
    </div>
</div>

<%- include('footer') %>